* {
    margin: 0;
}
header {
    background-color: rgba(41, 248, 255, 0.329);
    margin: auto 1% auto 1%;
}
body{
    background-color: rgb(41, 41, 41);
}
footer {
    background-color: cadetblue;
    margin: 0px 1% auto 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.navbar {
    text-align: center;
}
.navbar ul {
    list-style: none;
}
.navbar ul li {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 20px 10px 20px;
    font-size: 22px;
    padding: 5px;
    color: azure;
}
.main-img {
    margin: auto 1% auto 1%;
}
.navbar ul li:hover{
    background-color: rgba(255, 255, 255, 0.664);
    color: cadetblue;
    cursor: pointer;
}
footer ul {
    padding-top: 50px;
    padding-left: 90px; /*separación del menu footer de la izquierda*/
    list-style: none;
    display: inline-block;
}
.descripcion-footer {
    text-align: center;
    padding-top: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(27, 27, 27);
    padding-bottom: 30px;
    font-size: 15px;
}

.titulo-footer {
    font-size: 22px;
    padding-bottom: 20px;
}

footer ul li {
    padding: 20px;
}
footer a {
    text-decoration: none;
}
.bg-main-image {
    filter: blur(2.5px);
}
.desc {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 35px;
    font-size: 25px; 
}
h1 {
    font-family: 'Fugaz One', cursive;
    text-align: center;
    font-weight: 100;
    font-size: 5em;
    color: rgb(226, 160, 255);
    text-decoration: white;
}

.img-desc {
    position: absolute;
    margin: 85px 10px 10px 18%;
    width: 70%;
    z-index: 1;
}
.memberships {
    position: absolute;
    z-index: 1;
    margin: 400px 10px 10px 5%;
}
.membership-detail {
    display: inline-block;
    width: 25%;
    border: solid white 1px;
}
.membership-title {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 40px;
    border-bottom: white solid 1px;
}
.membership-desc {
    font-family: Arial, Helvetica, sans-serif;
}
.img-desc p{
    font-family: 'Maven Pro';
    line-height: 75px;
    color: rgb(255, 255, 255);
}
.medium {
    font-size: 60px;
}
.tiny {
    font-size: 20px;
}