* {
    margin: 0;
}
header {
    background-color: cadetblue;
}
body{
    background-color: rgb(131, 133, 130);
}
footer {
    z-index: ;
}
.navbar {
    text-align: center;
}
.navbar ul {
    list-style: none;
}
.navbar ul li {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 20px 10px 20px;
    font-size: 22px;
    padding: 5px;
    color: azure;
}
.main-img {

}
.navbar ul li:hover{
    background-color: white;
    color: cadetblue;
    cursor: pointer;
}
.bg-main-image {
    filter: contrast(70%);
}
.desc {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    line-height: 35px;
    font-size: 25px; 
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 4em;
}
.img-desc {
    position: absolute;
    margin: 85px 10px 10px 30%;
    width: 51%;
}
.img-desc p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    line-height: 55px;
    color: black;
}
.medium {
    font-size: 40px;
}
.tiny {
    font-size: 20px;
}